# Auto detect text files and perform LF normalization
* text=auto

# used to remove files from deployment using `git archive`
# git files
    .gitattributes      export-ignore
    .gitignore          export-ignore
# test files
    test-bootstrap.php  export-ignore
    phpunit.xml.dist    export-ignore
    **/test             export-ignore
# travis configuration
    .travis.yml         export-ignore
    tools               export-ignore
